/* * {
  background-color: white;
}

.container-header {
  background: white;
  box-shadow: 2px 1px 1px black;
  display: flex;
  flex-direction: column;
  height: 760px;
  margin-bottom: 30px;
  position: absolute;
  width: 290px;
}

.container-name {
  color: #444955;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 153px;
  letter-spacing: 0.03em;
  line-height: 16px;
  position: absolute;
  text-transform: capitalize;
  top: 664px;
  width: 83px;
}

.logo {
  height: 95.71px;
  left: 40px;
  position: absolute;
  top: 33.59px;
  width: 170.81px;
}

.link-search {
  color: #444955;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 104px;
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
  top: 227px;
  width: 77px;
}

.link-favorite {
  color: #444955;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 104px;
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
  top: 377px;
  width: 77px;
}

.link-profile {
  color: #444955;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 116px;
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
  top: 527px;
  width: 77px;
}

.foto-perfil {
  border-radius: 22px;
  height: 50px;
  position: absolute;
  right: 120px;
  width: 50px;
}

.header {
  border: 1px solid black;
  height: 300px;
  left: 291px;
  position: absolute;
  width: 1395px;
} */


/* Estilos para celulares com largura de tela menor que 576px */
@media (max-width: 575.98px) {
  /* Estilos para dispositivos móveis */
  
  .container-header {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .container-links {
    display: flex;
    align-items: center;
  }
  
  .container-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #f2f2f2;
  }
  
  .name {
    font-size: 12px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .container-link {
    display: flex;
    align-items: center;
  }
  
  .container-link a {
    padding: 6px 14px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .container-link a:hover {
    background-color: #f2f2f2;
  }

  .title-search {
    font-size: 20px;
    margin-right: 20px;
    color: #f2f2f2;
  }
  
  .link-search,
  .link-favorite,
  .link-profile {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
  }
  
  .link-search:hover,
  .link-favorite:hover,
  .link-profile:hover {
    text-decoration: underline;
  }
  
}

/* Estilos para dispositivos com tela maior que 576px e menor que 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para dispositivos móveis e tablets em modo retrato */
  .container-header {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .container-links {
    display: flex;
    align-items: center;
  }
  
  .container-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #f2f2f2;
  }
  
  .name {
    font-size: 12px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .container-link {
    display: flex;
    align-items: center;
  }
  
  .container-link a {
    padding: 6px 14px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .container-link a:hover {
    background-color: #f2f2f2;
  }

  .title-search {
    font-size: 20px;
    margin-right: 20px;
    color: #f2f2f2;
  }
  
  .link-search,
  .link-favorite,
  .link-profile {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
  }
  
  .link-search:hover,
  .link-favorite:hover,
  .link-profile:hover {
    text-decoration: underline;
  }
  
}

/* Estilos para dispositivos com tela maior que 768px e menor que 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para tablets em modo paisagem e dispositivos móveis com tela maior */
  .container-header {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .container-links {
    display: flex;
    align-items: center;
  }
  
  .container-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #f2f2f2;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .container-link {
    display: flex;
    align-items: center;
  }
  
  .container-link a {
    padding: 6px 14px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .container-link a:hover {
    background-color: #f2f2f2;
  }

  .title-search {
    font-size: 24px;
    margin-right: 20px;
    color: #f2f2f2;
  }
  
  .link-search,
  .link-favorite,
  .link-profile {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .link-search:hover,
  .link-favorite:hover,
  .link-profile:hover {
    text-decoration: underline;
  }
  
}

/* Estilos para dispositivos com tela maior que 992px e menor que 1200px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para dispositivos maiores, como laptops */
  .container-header {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .container-links {
    display: flex;
    align-items: center;
  }
  
  .container-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #f2f2f2;
  }
  
  .name {
    font-size: 22px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .container-link {
    display: flex;
    align-items: center;
  }
  
  .container-link a {
    padding: 6px 14px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .container-link a:hover {
    background-color: #f2f2f2;
  }

  .title-search {
    font-size: 24px;
    margin-right: 20px;
    color: #f2f2f2;
  }
  
  .link-search,
  .link-favorite,
  .link-profile {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
  }
  
  .link-search:hover,
  .link-favorite:hover,
  .link-profile:hover {
    text-decoration: underline;
  }
  
}

/* Estilos para dispositivos com tela maior que 1200px */
@media (min-width: 1200px) {
  /* Estilos para dispositivos maiores, como desktops */
  .container-header {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .container-links {
    display: flex;
    align-items: center;
  }
  
  .container-name {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #f2f2f2;
  }
  
  .name {
    font-size: 22px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .container-link {
    display: flex;
    align-items: center;
  }
  
  .container-link a {
    padding: 6px 14px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .container-link a:hover {
    background-color: #f2f2f2;
  }

  .title-search {
    font-size: 30px;
    margin-right: 20px;
    color: #f2f2f2;
  }
  
  .link-search,
  .link-favorite,
  .link-profile {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 26px;
  }
  
  .link-search:hover,
  .link-favorite:hover,
  .link-profile:hover {
    text-decoration: underline;
  }
}
