* {
    margin: 0;
    padding: 0;
  }
  
  .div-pai-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #cfc8d5;
    max-width: 400px; 
    height: 200px;
    display: flex;
    border-radius: 12px;
  }
  
  .login {
    color: #2E2E2E;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }
  
  #button-login {
    background-color: #7D55A3;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  #button-login:hover {
    opacity: 0.8;
    background-color: #b69fd3;
  }
  
  #name-input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #2E2E2E;
    background-color: #fff;
    font-size: 16px;
  }

/* login estilizado até aqui */

.loading-text {
    font-family: system-ui, -apple-system,
     BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans',
       'Helvetica Neue', sans-serif;
       text-decoration: none;
    margin: auto;
}

/* campo do header */

.header-text {
    font-family: system-ui, -apple-system,
     BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans',
       'Helvetica Neue', sans-serif;
    font-size: 20px;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.link-bar{
  display: flex;
  justify-content: center;
  gap:10px;
}

.link-bar a{
  border:none;
  border-radius: 10px;
  background-color: #4E2E74;
  color: white;
}
.header-name {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.link-search {
    text-decoration: none;
    color: #2E2E2E;
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
}

.link-favorite {
    text-decoration: none;
    color: #2E2E2E;
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}

.link-profile {
    text-decoration: none;
    color: #2E2E2E;
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
}

/* estilizando o campo de buscar musica */

body {
  background-color: #F4F4F4;
}

.search-render {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 25px;
}


.error-msg {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 16px;
}

#buttonForm {
  border-radius: 6px;
  font-size: 12px;
  padding: 8px 15px;
  margin: 8px;
  background-color: #4285f4;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

#buttonForm:hover {
  background-color: #3367d6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.form-search {
  display: flex;
  justify-content: center;
  
}

.section-search {
  display: flex;
  align-items: center;

}

#search-artist-input {
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

/* lista de albuns renderizados */

.result-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 8px;
}

.albuns-render {
  display: flex;
  justify-content: center;
}

.album-list {
  flex-direction: column;
  background-color: #D1D1D1;
}

.link-album {
  text-decoration: none;
  color: #7D55A3;
  display: inline-block;
}

/* musicCard estilo */

.father-audio {
  display: flex;
  justify-content: center;
}

.track-name {
  display: flex;
  justify-content: center;
}

.tag-audio {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.father-favorite {
  display: flex;
  justify-content: center;
}

.favorite-input {
  margin-bottom: 24px;
}

.label-favorita {
  color: #4E2E74;
  font-size: 16px;
}

.trocar-bg {
  background-color: #D1D1D1;
}

.banda {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #4E2E74;
  padding: 16px;
}

.title-album {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  color: gold;
}

/* // Estilo para desktop */
@media only screen and (min-width: 600px) {

  body{
    /* background-color:red; */
  }

}